* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  width: 100vw;
  height: 100vh;
  background-color: rgb(127, 204, 185);
}
.px {
  font-size: 20px;
}
.percentage {
  width: 30%;
}
.em {
  font-size: 3em;
}
.rem {
  font-size: 2rem;
}
.navbar {
  height: calc(100vh - 90vh);
  width: 100vw;
  background-color: wheat;
}
.min {
  max-height: 100px;
  min-height: 200px;
  background-color: white;
}
